// --------------------------------------------------
// Normalise
// --------------------------------------------------


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {

    margin:     0;
    padding:    0;
    border:     0;
    font: inherit;
    font-size:           100%;
    vertical-align:  baseline;
}


//--------------------------------
// HTML5 display-role reset for older browsers
//--------------------------------

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}

body {line-height: 1;}

ol, ul {list-style: none;}

blockquote, q {quotes: none;}

blockquote:before, blockquote:after, q:before, q:after {
    content:   '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing:         0;
}


//--------------------------------
// Added for Cult
//--------------------------------

*  {
    box-sizing:              border-box;
    text-rendering:  optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing:  grayscale;
    }

a {text-decoration: none;}


//--------------------------------
// Removes webkit default styling
//--------------------------------

input {-webkit-appearance: none;}// --------------------------------------------------
// Colors
// --------------------------------------------------


//--------------------------------
// Brand
//--------------------------------

.brand {color : rgba(0, 120, 202, 1.0)}


//--------------------------------
// Backgrounds
//--------------------------------

$background: rgba(251, 251, 251, 1.0);
$footer    : rgba(31, 32, 34, 1.0);


//--------------------------------
// Colors
//--------------------------------

$black     : rgba(38, 38, 38, 1.0);
$white     : rgba(251, 251, 251, 1.0);
$grey      : rgba(72, 72, 72, 1.0);
$red500    : rgba(212, 69, 57, 1.0);
$blue500   : rgba(89, 149, 240, 1.0);
$purple500 : rgba(134, 43, 171, 1.0);
$green500  : rgba(115, 174, 87, 1.0);
$orange500 : rgba(231, 151, 35, 1.0);
$yellow500 : rgba(249, 234, 79, 1.0);


//--------------------------------
// Utilities
//--------------------------------

$text      : $black;
$link      : $black;
$icons     : rgba(245, 21, 35, 1.0);
$button    : rgba(252, 45, 35, 1.0);
$shadow    : rgba(99, 99, 99, 0.3);
$outline   :$brand;

@import "typography";
@import "buttons";
@import "utilities";

body {background: $background}

section {
    max-width: 740px;
    margin: 0 auto;
    padding: 20px;
}

article {margin: 48px 0}

@import "media-queries";