/*
Name: Twitch App
URL: https://richardmiddleton.me/twitch-app
Author: Richard Middleton
Author URL: https://richardmiddleton.me
Description: Create a twitch app to show channels online and offline from curated list.
Version: 1.0
License: MIT License
License URI: https://opensource.org/licenses/MIT
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  text-decoration: none; }

input, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

html {
  font-size: 14px; }

body {
  font-family: 'Open Sans';
  line-height: 1.2; }

h1, h2, h3, h4 {
  font-family: 'Open Sans';
  font-weight: 700;
  color: #262626; }

h1 {
  font-size: 1.5em;
  font-weight: 200; }

h1 span {
  font-weight: 700; }

h2 {
  font-size: 2.827em; }

h3 {
  font-size: 1.999em; }

h4 {
  font-size: 1.414em; }

p {
  color: #262626; }

a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  font-weight: 600; }

a:hover {
  text-decoration: underline; }

small {
  font-size: 0.707em; }

strong {
  font-weight: 700; }

em {
  font-style: italic; }

.fa-heart {
  font-size: 12px;
  color: #fc2d23; }

.large {
  font-size: 40px; }

nav a {
  font-size: 1.8rem;
  color: white;
  font-weight: 300; }
  nav a:hover {
    color: white; }

.built {
  color: white;
  font-size: 0.9em;
  padding: 4px;
  font-weight: 300; }
  .built strong {
    font-weight: 400; }

.built a, .built p {
  font-size: 0.8rem;
  transition: all 0.6s ease; }

.built a:hover {
  text-decoration: underline; }

.btn {
  border: none;
  background: none;
  margin: 6px;
  color: #fbfbfb;
  font-size: 1rem;
  border-radius: 6px;
  padding: 0.6em 1em;
  transition: all 0.2s ease; }
  .btn:active {
    transform: scale(0.98); }

.btn-outline {
  color: #502f92;
  border: 2px solid #502f92;
  padding: 0.52em 1.1em; }
  .btn-outline:hover {
    background-color: #502f92;
    color: #fbfbfb; }

.btn-round {
  border-radius: 50px; }

.btn-sm {
  font-size: 0.707em; }

.bg-brand {
  background-color: #502f92; }
  .bg-brand:hover {
    background-color: #45297f; }

.bg-alt {
  background-color: #862bab; }
  .bg-alt:hover {
    background-color: #762697; }

.shadow {
  box-shadow: 0 4px 8px 0 rgba(99, 99, 99, 0.3), 0 6px 16px 0 rgba(99, 99, 99, 0.3); }

.thin {
  font-weight: 300; }

.center {
  text-align: center; }

.hidden {
  display: none; }

.visible {
  display: block; }

html {
  max-height: 100vh;
  box-sizing: border-box; }

nav {
  width: 100%;
  background-color: #502f92;
  height: 56px;
  top: 0;
  margin: 0 auto;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.logo {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center; }

.main-logo {
  margin: 120px auto 60px;
  width: 300px; }
  .main-logo img {
    width: 300px; }

.toggle {
  margin: 0px auto 10px;
  width: 560px;
  height: 70px;
  background: #502f92;
  padding: 24px 16px;
  display: table; }

.status-links {
  text-align: right;
  display: table-cell;
  vertical-align: middle;
  color: white; }
  .status-links a {
    color: #bdaae3; }

.toggle-all {
  color: white; }

section {
  clear: both;
  margin: 0px auto 100px;
  max-width: 560px; }

article {
  padding: 42px 22px 42px 16px;
  height: 80px;
  border-bottom: 1px solid #dfdfdf;
  border-radius: 6px;
  display: flex;
  align-items: center;
  transition: all 0.4s ease; }
  article:hover {
    background-color: #ececec; }

.avatar {
  width: 56px; }

.avatar img {
  border-radius: 6px;
  width: 56px;
  height: auto; }

.description {
  padding: 0 14px;
  flex-grow: 1; }

.status {
  width: auto;
  height: auto; }

.online {
  color: #00aa00; }

.offline {
  color: #aa0000; }

footer {
  background: #502f92;
  height: 56px;
  display: table;
  width: 100%;
  text-align: center; }

.built {
  display: table-cell;
  vertical-align: middle; }

/*=============================================
=                 MEDIA QUERIES               =
=============================================*/
/* -- BREAK 1 -- */
@media all and (max-width: 800px) {
  html {
    font-size: 14px; }
  main {
    margin-bottom: 20px; }
  article {
    padding: 36px 32px 36px 15px;
    height: 65px;
    border-radius: 0; }
  .avatar {
    width: 48px; }
  .avatar img {
    border-radius: 6px;
    width: 48px;
    height: auto; } }
