// --------------------------------------------------
// Typography
// --------------------------------------------------


//--------------------------------
// Sets Default Font Size
//--------------------------------

html {font-size: 14px}

body {
  font-family: 'Open Sans';
  line-height: 1.2;
}


//--------------------------------
// Headings
//--------------------------------

h1, h2, h3, h4 {
  font-family: 'Open Sans';
  font-weight: 700;
  color: $text;
}

h1 {
	font-size: 1.5em;
	font-weight: 200;
}

h1 span {font-weight: 700}

h2 {
  font-size: 2.827em;
}

h3 {
  font-size: 1.999em;
}

h4 {
  font-size: 1.414em;
}

p {color: $text}

//--------------------------------
// Links
//--------------------------------

a {
    text-decoration: none;
    color: darken($link, 10);
}

a:hover {color: lighten($link, 10)}


//--------------------------------
// Misc Tags
//--------------------------------

small {font-size: 0.707em}

strong {font-weight: 700}

em {font-style: italic;}

span {}


//--------------------------------
// Icons
//--------------------------------

.fa-heart {
	font-size: 12px;
	color: #fc2d23;
}

.large {font-size: 40px}



//--------------------------------
// Nav Typography
//--------------------------------

nav a {
  color: white;
&:hover {color: white}
}


//--------------------------------
// Footer Typography
//--------------------------------


footer p {
	font-size: 0.9em;
	padding: 4px;
	font-weight: 300;
  color: white;

	strong {
	  font-weight: 400;
    color: white;
  }
}

.built a, .built p{
	font-size: 0.8rem;
	transition: all 0.6s ease;
}

.built a:hover {
    color: white;
    text-decoration: underline;
    }



