/*
Name: Twitch App
URL: https://richardmiddleton.me/twitch-app
Author: Richard Middleton
Author URL: https://richardmiddleton.me
Description: Create a twitch app to show channels online and offline from curated list.
Version: 1.0
License: MIT License
License URI: https://opensource.org/licenses/MIT
*/



@import "normalise";
@import "colors";
@import "typography";
@import "buttons";
@import "utilities";


// ------- Page Contents -------- //

html {
  max-height: 100vh;
  box-sizing: border-box;
}

nav {
	width: 100%;
	background-color: $brand;
	height: 56px;
    top: 0;
	margin: 0 auto;
    position: fixed;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.logo {
	-ms-flex-item-align: center;
	-ms-grid-row-align: center;
	align-self: center;
}

.main-logo {
    margin: 120px auto 60px;
    width: 300px;
    img{
        width: 300px;
    }
}

section {
    margin: 0px auto 100px;
    max-width: 560px;
}

article {
    padding: 42px 16px;
    height: 80px;
    border-bottom: 1px solid $light-grey;
    border-radius: 6px;
    display: flex;
    align-items: center;
	transition: all 0.4s ease;
    &:hover {
        background-color: lighten($light-grey, 5)
}
}

.avatar {
    width: 56px;
}

.avatar img {
    border-radius: 6px;
    width: 56px;
    height: auto;
}

.description {
    padding: 0 14px;
    flex-grow: 1;
}

.status {
    width: auto;
    height: auto;
}

.online {
    color: #00aa00;
}

.offline {
    color: #aa0000;
}

footer {
	background: rgba(0, 0, 0, 0.4);
	display: table;
	width: 100%;
    text-align: center;
}

.built {
	display: table-cell;
	vertical-align: middle;
}


@import "media-queries";